Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

feat: API to provide non-uniform priors
  src/kokab/utils/common.py
  src/kokab/utils/priors.py
Due: none

feat: API for non-uniform priors in JSON file (#407)
  makefile
  src/kokab/utils/common.py
  src/kokab/utils/priors.py
Due: none

feat: cli for creating prearson correlation coefficient plots for chains
  pyproject.toml
  src/cli_gwkokab/r_hat_plot.py
Due: none

feat: cli for creating Pearson correlation coefficient plots for chains (#408)
  pyproject.toml
  src/cli_gwkokab/r_hat_plot.py
Due: none

refactore: uv checking logic modified in makefile
  makefile
Due: none

test: add unit tests for Cosmology class methods
  tests/gwkokab/test_cosmology.py
Due: none

chore: remove requirements.txt and update Read the Docs configuration
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/requirements.txt
  docs/source/_pygments/_pygments_dark.py
  docs/source/_pygments/_pygments_light.py
  docs/source/_static/style.css
  docs/source/conf.py
  pyproject.toml
Due: no-http

chore: simplify Read the Docs configuration by removing Sphinx settings
  .readthedocs.yml
Due: no-http

chore: update Read the Docs configuration to streamline build process and remove unnecessary formats
  .readthedocs.yml
Due: no-http

chore: update Read the Docs configuration to include requirements for documentation
  .readthedocs.yml
  docs/requirements.txt
Due: no-http

chore: update Read the Docs configuration to include additional requirements for development, documentation, and testing
  .readthedocs.yml
Due: no-http

chore: clean up documentation by removing gwkokab custom docs
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/gwk_scripts.rst
  docs/source/gwkokab.cosmology.rst
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.poisson_mean.rst
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/installation.rst
Due: none

chore: add initial module files and update import paths for consistency
  src/cli_gwkokab/__init__.py
  src/kokab/__init__.py
  src/kokab/chi_eff_q_relation/__init__.py
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/__init__.py
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/__init__.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/ppd.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/__init__.py
  src/kokab/n_spls_m_sgs/ppd.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/utils/common.py
Due: none

chore: remove emoji from contributing and README titles
  CONTRIBUTING.md
  README.md
Due: no-bracket-links, no-http

chore: update Sphinx configuration and improve documentation for cosmology modules
  docs/source/conf.py
  src/gwkokab/cosmology/_cosmology.py
  src/gwkokab/cosmology/_planck.py
Due: none

chore: reorganize documentation structure and remove obsolete files
  docs/source/FAQs.md
  docs/source/FAQs.rst
  docs/source/changelog.rst
  docs/source/cite.md
  docs/source/cite.rst
  docs/source/code_of_conduct.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/dev_docs.md
  docs/source/dev_docs/code_of_conduct.rst
  docs/source/dev_docs/contributing.rst
  docs/source/dev_docs/source_build.rst
  docs/source/examples.md
  docs/source/examples.rst
  docs/source/index.md
  docs/source/index.rst
  docs/source/installation.md
  docs/source/installation.rst
  docs/source/source_build.md
Due: no-bracket-links, no-http

chore: update pre-commit configuration to exclude markdown files
  .pre-commit-config.yaml
Due: none

fix: ensure consistent float dtype in array initializations and calculations
  src/gwkokab/cosmology/_cosmology.py
  src/gwkokab/inference/poissonlikelihood.py
  src/gwkokab/models/_models.py
  src/gwkokab/models/multivariate/_chi_eff_mass_ratio.py
  src/gwkokab/models/npowerlawmgaussian/_model.py
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
  src/gwkokab/models/redshift/_models.py
  src/gwkokab/models/spin/_models.py
  src/gwkokab/models/transformations.py
  src/gwkokab/models/utils/_doubletruncpowerlaw.py
  src/gwkokab/models/utils/_joindistribution.py
  src/gwkokab/models/utils/_ncombination.py
  src/gwkokab/models/utils/_scaledmixture.py
  src/gwkokab/utils/kernel.py
  src/gwkokab/utils/transformations.py
  src/gwkokab/vts/_popmodelvt.py
  src/gwkokab/vts/_train.py
  src/kokab/ecc_matters/common.py
Due: none

fix: correct loop initialization in `Cosmology` class `fori_loop` method
  src/gwkokab/cosmology/_cosmology.py
Due: none

chore: enhance documentation with GPU performance tips and improve links
  docs/source/FAQs.md
  docs/source/conf.py
  docs/source/examples.md
  docs/source/index.md
  docs/source/installation.md
Due: no-bracket-links, no-http

chore: add docstrings for physical constants in SI and CGS units
  src/gwkokab/constants.py
Due: none

chore: enhance cosmology module documentation and improve parameter annotations
  src/gwkokab/cosmology/__init__.py
  src/gwkokab/cosmology/_cosmology.py
  src/gwkokab/cosmology/_planck.py
Due: none

chore: refactor imports and enhance docstrings for `ChiEffMassRatio` models
  src/gwkokab/models/__init__.py
  src/gwkokab/models/multivariate/_chi_eff_mass_ratio.py
Due: none

feat: include `lamb_scale` in `NSmoothedPowerlawMSmoothedGaussian` model
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
  src/kokab/n_spls_m_sgs/sage.py
Due: none

refactor: rename `log_rates` to `log_scales` and adjust calculation in NSmoothedPowerlawMSmoothedGaussian model
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
Due: none

feat: add `SmoothedPowerlawAndPeak` distribution and update tests
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  tests/test_distributions.py
Due: none

test: add support for `SmoothedPowerlawAndPeak` in distribution tests
  tests/test_distributions.py
Due: none

feat: add `log_scale` parameter to `SmoothedPowerlawPrimaryMassRatio` and `SmoothedGaussianPrimaryMassRatio` models
  src/gwkokab/models/_models.py
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
  src/gwkokab/models/utils/_ncombination.py
Due: none

feat: separate `lamb_scale` into `lamb_scale_g` and `lamb_scale_pl` parameters in sage.py
  src/kokab/n_spls_m_sgs/sage.py
Due: none

feat: add `SmoothedPowerlawAndPeak` model sage script
  src/kokab/one_powerlaw_one_peak/__init__.py
  src/kokab/one_powerlaw_one_peak/common.py
  src/kokab/one_powerlaw_one_peak/ppd.py
  src/kokab/one_powerlaw_one_peak/sage.py
Due: none

feat: add `__init__.py` for kokab module with imports
  src/kokab/__init__.py
Due: none

chore: streamline formatting in `pyproject.toml` for maintainers and dependencies
  pyproject.toml
Due: none

feat: add log_rate parameters to `SmoothedPowerlawAndPeak` model and update related functions
  src/gwkokab/models/_models.py
  src/kokab/one_powerlaw_one_peak/common.py
  src/kokab/one_powerlaw_one_peak/ppd.py
  src/kokab/one_powerlaw_one_peak/sage.py
Due: none

test: add log_rate parameters in test cases for `SmoothedPowerlawAndPeak`
  tests/test_distributions.py
Due: none

refactor: simplify parameter imports and streamline logic in `ppd.py`
  src/kokab/one_powerlaw_one_peak/ppd.py
Due: none

fix: correct multiplication operator in log probability calculation and update import in ppd.py
  src/gwkokab/models/_models.py
  src/kokab/one_powerlaw_one_peak/ppd.py
Due: none

feat: add JSON reading utility and update flowMC parameters handling
  src/kokab/utils/common.py
Due: none

feat: refactor flowMC handling to use read_json and flowMC_default_parameters
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
Due: none

feat(gh-135): `SmoothedPowerlawAndPeak` distribution (#410)
  pyproject.toml
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  src/kokab/__init__.py
  src/kokab/one_powerlaw_one_peak/__init__.py
  src/kokab/one_powerlaw_one_peak/common.py
  src/kokab/one_powerlaw_one_peak/ppd.py
  src/kokab/one_powerlaw_one_peak/sage.py
  tests/test_distributions.py
Due: none

refactor: flowMC handling to utilize read_json and flowMC_default_parameters in 1pl1peak
  src/kokab/one_powerlaw_one_peak/sage.py
Due: none
