Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

top ranking issue workflow updated with headings
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

fix: attribute missing in MutliPeakMassModel
  gwkokab/_src/models/models.py
Due: none

names given to workflow jobs
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

writing permission for top ranking issue workflow
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

chore: `beta` renamed to `beta_q`
  gwkokab/_src/models/models.py
Due: none

chore: uniform rvs for parameters
  docs/source/gwkokab.parameters.rst
  gwkokab/_src/parameters/__init__.py
  gwkokab/_src/parameters/parameters.py
  gwkokab/parameters.py
Due: none

chore: expected rate using uniform sampling
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

chore: uniform sampled monte carlo integral for expected rate
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

fix: fixes #180
  .pre-commit-config.yaml
  gwkokab/_src/models/models.py
Due: none

chore: refactor expected rate integral by avoiding sampling method
  gwkokab/_src/inference/poissonlikelihood.py
  gwkokab/_src/models/utils.py
Due: none

chore: seperate methods to sample from model or unifrom hyperspace for vt calculation
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

MassGap Condition removed
  gwkokab/_src/models/models.py
Due: none

chore(dep): version number imposed on dependencies
  docs/requirements.txt
  pyproject.toml
Due: none

fixes #188
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  gwkokab/_src/models/transformations.py
  gwkokab/models/transformations.py
Due: no-bracket-links, no-http

chore: top issues update once a day at midnight
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

fix #191
  gwkokab/_src/models/transformations.py
Due: none

Powerlawpeak interval correction
  gwkokab/_src/models/models.py
Due: none

fix: interval of tuncnorm from jax.scipy fixed
  gwkokab/_src/models/models.py
Due: none

feat: vt scaling for inference and population generation
  CHANGELOG.md
  gwkokab/_src/inference/poissonlikelihood.py
  gwkokab/_src/population/factory.py
Due: no-bracket-links, no-http

chore: format scripts considering gwkokab as installed package
  examples/analysis_by_gwkokab.ipynb
  examples/nvt_training.ipynb
  examples/synthetic_data.ipynb
  tests/test_constraints.py
  tests/test_math.py
  tests/test_model_transformations.py
  tests/test_transformations.py
Due: none

chore: math util unit tests modified
  tests/test_math.py
Due: none

feat: ecc-matters genie scripts
  pyproject.toml
  src/kokab/ecc_matters/genie.py
Due: none

feat: generic genie parser
  src/kokab/ecc_matters/genie.py
  src/kokab/utils/genie_parser.py
Due: none

chore: error arguments grouping
  src/kokab/ecc_matters/genie.py
Due: none

feat: single gaussians genie script
  pyproject.toml
  src/kokab/single_gaussians/genie.py
Due: none

feat: power law peak genie scripts
  src/kokab/powerlawpeak/genie.py
Due: none

chore: kokab.utils as package
  src/kokab/utils/__init__.py
Due: none

feat: powerlaw primary mass ratio genie scripts
  pyproject.toml
  src/kokab/powerlawprimarymassratio/genie.py
Due: none

chore: uncommented headers in data files
  src/gwkokab/_src/population/factory.py
Due: none

chore: headers uncommented while saving and skipped while loading
  src/gwkokab/_src/population/factory.py
Due: none

chore: data frames in command scripts
  CHANGELOG.md
  docs/source/gwk_scripts.rst
  pyproject.toml
  src/gwkokab/_src/scripts/batch_scatter2d.py
  src/gwkokab/_src/scripts/batch_scatter3d.py
  src/gwkokab/_src/scripts/chain_plot.py
  src/gwkokab/_src/scripts/confidence_plot.py
  src/gwkokab/_src/scripts/corner_plot.py
  src/gwkokab/_src/scripts/fancy_scatter3d.py
  src/gwkokab/_src/scripts/joint_plot.py
  src/gwkokab/_src/scripts/ppd_confidence_plot.py
  src/gwkokab/_src/scripts/ppd_plot.py
  src/gwkokab/_src/scripts/scatter2d.py
  src/gwkokab/_src/scripts/scatter3d.py
Due: no-bracket-links, no-http

chore: refactor genie parsers and add license header
  src/kokab/ecc_matters/genie.py
  src/kokab/powerlawpeak/genie.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/single_gaussians/genie.py
  src/kokab/utils/genie_parser.py
Due: none

feat: power law peak genie scripts in pyproject
  pyproject.toml
Due: none

chore: initial setup for debugging flag
  src/gwkokab/_src/debug/__init__.py
  src/gwkokab/_src/debug/_debug.py
  src/gwkokab/debug.py
  tests/test_debug.py
  tests/test_math.py
Due: none

Update dependabot.yml: Now it will run monthly
  .github/dependabot.yml
Due: no-http

chore: update imports in scripts
  src/kokab/ecc_matters/genie.py
  src/kokab/powerlawpeak/genie.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/single_gaussians/genie.py
Due: none

chore: debug flags in likelihood
  src/gwkokab/_src/debug/__init__.py
  src/gwkokab/_src/debug/_debug.py
  src/gwkokab/_src/inference/poissonlikelihood.py
Due: none

chore: debug print estimated parameter values
  src/gwkokab/_src/inference/poissonlikelihood.py
Due: none

chore: debug print estimated parameter values with name
  src/gwkokab/_src/inference/poissonlikelihood.py
Due: none
