Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

fix: correct the sign of the doubly truncated power law CDF gradient at alpha = -1
  src/gwkokab/models/utils/_doubletruncpowerlaw.py
Due: none

fix: make BlockTransform constructible and reduce its log Jacobian per block
  src/gwkokab/models/transformations.py
Due: none

test: add unit tests for the mass models
  tests/gwkokab/models/conftest.py
  tests/gwkokab/models/mass/test_bpls_models.py
  tests/gwkokab/models/mass/test_mass_models.py
Due: none

test: add unit tests for the redshift, spin and sundry models
  tests/gwkokab/models/redshift/test_redshift_models.py
  tests/gwkokab/models/spin/test_spin_models.py
  tests/gwkokab/models/sundry/test_sundry_models.py
Due: none

test: add unit tests for the model utilities
  tests/gwkokab/models/utils/test_doubly_truncated_power_law.py
  tests/gwkokab/models/utils/test_extended_support_transformed_distribution.py
  tests/gwkokab/models/utils/test_jointdistribution.py
  tests/gwkokab/models/utils/test_lazy_joint_distribution.py
  tests/gwkokab/models/utils/test_scaled_mixture.py
Due: none

test: add unit tests for the hybrid population models
  tests/gwkokab/models/hybrids/conftest.py
  tests/gwkokab/models/hybrids/test_hybrid_models.py
  tests/gwkokab/models/hybrids/test_ncombination.py
Due: none

test: add unit tests for the model constraints, transforms and registry
  tests/gwkokab/models/test_model_constraints.py
  tests/gwkokab/models/test_model_transforms.py
  tests/gwkokab/models/test_model_wrappers.py
Due: none

fix: remove unused module `gwkokab.utils.tools`
  src/gwkokab/utils/tools.py
Due: none

test: unit tests for `gwkokab.models` module (#872)
  src/gwkokab/models/constraints.py
  src/gwkokab/models/transformations.py
  src/gwkokab/models/utils/_doubletruncpowerlaw.py
  src/gwkokab/models/utils/_lazyjointdistribution.py
  tests/gwkokab/models/conftest.py
  tests/gwkokab/models/hybrids/conftest.py
  tests/gwkokab/models/hybrids/test_hybrid_models.py
  tests/gwkokab/models/hybrids/test_ncombination.py
  tests/gwkokab/models/mass/test_bpls_models.py
  tests/gwkokab/models/mass/test_mass_models.py
  tests/gwkokab/models/redshift/test_redshift_models.py
  tests/gwkokab/models/spin/test_spin_models.py
  tests/gwkokab/models/sundry/test_sundry_models.py
  tests/gwkokab/models/test_model_constraints.py
  tests/gwkokab/models/test_model_transforms.py
  tests/gwkokab/models/test_model_wrappers.py
  tests/gwkokab/models/utils/test_doubly_truncated_power_law.py
  tests/gwkokab/models/utils/test_extended_support_transformed_distribution.py
  tests/gwkokab/models/utils/test_jointdistribution.py
  tests/gwkokab/models/utils/test_lazy_joint_distribution.py
  tests/gwkokab/models/utils/test_scaled_mixture.py
Due: none

fix: remove unused module `gwkokab.utils.tools` (#873)
  src/gwkokab/utils/tools.py
Due: none

test: mirror the package layout in the test suite
  CLAUDE.md
  CONTRIBUTING.md
  pyproject.toml
  tests/gwkokab/analysis/core/inference_io/test_poisson_mean.py
  tests/gwkokab/analysis/core/inference_io/test_sampler.py
  tests/gwkokab/conftest.py
  tests/gwkokab/cosmology/test_cosmology.py
  tests/gwkokab/cosmology/test_planck.py
  tests/gwkokab/models/hybrids/test_hybrid_models.py
  tests/gwkokab/models/hybrids/test_multisource.py
  tests/gwkokab/models/hybrids/test_npowerlawmgaussian.py
  tests/gwkokab/models/hybrids/test_subpopulation.py
  tests/gwkokab/models/mass/test_bpls.py
  tests/gwkokab/models/mass/test_models.py
  tests/gwkokab/models/redshift/test_models.py
  tests/gwkokab/models/spin/test_models.py
  tests/gwkokab/models/sundry/test_models.py
  tests/gwkokab/models/test_constraints.py
  tests/gwkokab/models/test_distributions.py
  tests/gwkokab/models/test_transformations.py
  tests/gwkokab/models/test_wrappers.py
  tests/gwkokab/models/utils/test_doubletruncpowerlaw.py
  tests/gwkokab/models/utils/test_extendedsupporttransformeddistribution.py
  tests/gwkokab/models/utils/test_joindistribution.py
  tests/gwkokab/models/utils/test_lazyjointdistribution.py
  tests/gwkokab/models/utils/test_scaledmixture.py
  tests/gwkokab/utils/test_transformations.py
  tests/test_constraints.py
  tests/test_distributions_mixture.py
  tests/test_model_transformations.py
Due: no-bracket-links, no-http

test: mirror the package layout in the test suite (#874)
  CLAUDE.md
  CONTRIBUTING.md
  pyproject.toml
  tests/gwkokab/analysis/core/inference_io/test_poisson_mean.py
  tests/gwkokab/analysis/core/inference_io/test_sampler.py
  tests/gwkokab/conftest.py
  tests/gwkokab/cosmology/test_cosmology.py
  tests/gwkokab/cosmology/test_planck.py
  tests/gwkokab/models/hybrids/test_hybrid_models.py
  tests/gwkokab/models/hybrids/test_multisource.py
  tests/gwkokab/models/hybrids/test_npowerlawmgaussian.py
  tests/gwkokab/models/hybrids/test_subpopulation.py
  tests/gwkokab/models/mass/test_bpls.py
  tests/gwkokab/models/mass/test_models.py
  tests/gwkokab/models/redshift/test_models.py
  tests/gwkokab/models/spin/test_models.py
  tests/gwkokab/models/sundry/test_models.py
  tests/gwkokab/models/test_constraints.py
  tests/gwkokab/models/test_distributions.py
  tests/gwkokab/models/test_transformations.py
  tests/gwkokab/models/test_wrappers.py
  tests/gwkokab/models/utils/test_doubletruncpowerlaw.py
  tests/gwkokab/models/utils/test_extendedsupporttransformeddistribution.py
  tests/gwkokab/models/utils/test_joindistribution.py
  tests/gwkokab/models/utils/test_lazyjointdistribution.py
  tests/gwkokab/models/utils/test_scaledmixture.py
  tests/gwkokab/utils/test_transformations.py
  tests/test_constraints.py
  tests/test_distributions_mixture.py
  tests/test_model_transformations.py
Due: no-bracket-links, no-http

fix: forward the h5repack options and delete a repeated chain only once
  src/gwkokab_scripts/delete_chains.py
  src/gwkokab_scripts/h5repack.py
Due: none

test: unit tests for `gwkokab_scripts` module
  tests/gwkokab_scripts/conftest.py
  tests/gwkokab_scripts/test_delete_chains.py
  tests/gwkokab_scripts/test_diag_condition_matrix.py
  tests/gwkokab_scripts/test_flowMC_info.py
  tests/gwkokab_scripts/test_h5repack.py
  tests/gwkokab_scripts/test_hist.py
  tests/gwkokab_scripts/test_numpyro_dense_mass_structure.py
  tests/gwkokab_scripts/test_param_lens.py
  tests/gwkokab_scripts/test_scatter2d.py
Due: none

test: make the `gwkokab_scripts` suite survive a cold checkout
  tests/gwkokab_scripts/conftest.py
  tests/gwkokab_scripts/test_flowMC_info.py
Due: none

test: unit tests for `gwkokab_scripts` module (#875)
  src/gwkokab_scripts/delete_chains.py
  src/gwkokab_scripts/h5repack.py
  tests/gwkokab_scripts/conftest.py
  tests/gwkokab_scripts/test_delete_chains.py
  tests/gwkokab_scripts/test_diag_condition_matrix.py
  tests/gwkokab_scripts/test_flowMC_info.py
  tests/gwkokab_scripts/test_h5repack.py
  tests/gwkokab_scripts/test_hist.py
  tests/gwkokab_scripts/test_numpyro_dense_mass_structure.py
  tests/gwkokab_scripts/test_param_lens.py
  tests/gwkokab_scripts/test_scatter2d.py
Due: none

docs: correct and extend CLAUDE.md
  CLAUDE.md
Due: no-bracket-links, no-http

fix: use `np.rec` and export all logged exceptions
  src/gwkokab/analysis/core/utils.py
  src/gwkokab/utils/exceptions.py
Due: none

test: unit tests for the analysis utilities and error models
  tests/gwkokab/analysis/core/inference_io/test_discrete.py
  tests/gwkokab/analysis/core/test_utils.py
  tests/gwkokab/analysis/utils/test_checks.py
  tests/gwkokab/analysis/utils/test_common.py
  tests/gwkokab/analysis/utils/test_jenks.py
  tests/gwkokab/analysis/utils/test_marginals.py
  tests/gwkokab/test_errors.py
  tests/gwkokab/utils/test_exceptions.py
Due: none

test: unit tests for the analysis utilities and error models (#876)
  src/gwkokab/analysis/core/utils.py
  src/gwkokab/utils/exceptions.py
  tests/gwkokab/analysis/core/inference_io/test_discrete.py
  tests/gwkokab/analysis/core/test_utils.py
  tests/gwkokab/analysis/utils/test_checks.py
  tests/gwkokab/analysis/utils/test_common.py
  tests/gwkokab/analysis/utils/test_jenks.py
  tests/gwkokab/analysis/utils/test_marginals.py
  tests/gwkokab/test_errors.py
  tests/gwkokab/utils/test_exceptions.py
Due: none

fix: adapt the keyword-only rules in `default_relation_mesh`
  src/gwkokab/parameters.py
  tests/gwkokab/test_parameters.py
Due: none

fix: replace deprecated `numpyro.distribution.util.is_prng_key` with `numpyro.util.is_prng_key`
  src/gwkokab/models/utils/_doubletruncpowerlaw.py
  src/gwkokab/models/utils/_scaledmixture.py
Due: none

fix: replace deprecated `numpyro.distribution.util.is_prng_key` with `numpyro.util.is_prng_key` (#878)
  src/gwkokab/models/utils/_doubletruncpowerlaw.py
  src/gwkokab/models/utils/_scaledmixture.py
Due: none

chore: update `XLA_FLAGS` to reduce host platform device count from 8 to 4
  .github/workflows/ci.yml
  CLAUDE.md
Due: no-bracket-links, no-http

chore: update `XLA_FLAGS` to reduce host platform device count from 8 to 4 (#879)
  .github/workflows/ci.yml
  CLAUDE.md
Due: no-bracket-links, no-http

ci: increase timeout for `ci` workflow
  .github/workflows/ci.yml
Due: no-http

ci: increase timeout for `ci` workflow (#880)
  .github/workflows/ci.yml
Due: no-http

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$ and src||scripts||tests||examples
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and src||scripts||tests||examples
