Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [pre-commit]

default_install_hook_types: [pre-commit, commit-msg]

files: src||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.3"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, MD024 "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--ignore-words-list, "statics,socio-economic,precessing,astroid", --check-filenames, --skip, "*.ipynb"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        args: [-formatter, retain_line_breaks=true]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: text-unicode-replacement-char
        # Forbid files which have a UTF-8 Unicode replacement character.
  - repo: https://github.com/PyCQA/docformatter
    # using an untagged rev for forward compatibility with pre-commit 4.0
    # see https://github.com/PyCQA/docformatter/issues/289
    # This should be changed back to a tag when (>1.7.5) is released
    rev: 06907d0267368b49b9180eed423fae5697c1e909
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
        args: [--close-quotes-on-newline, --in-place, --config, ./pyproject.toml]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.32.1
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter, makefile, rst, yaml, markdown]

feat: new Planck13 Cosmology along with Cosmology parameters updated with respect to `wcosmo`
  src/gwkokab/cosmology/_planck.py
  tests/gwkokab/test_cosmology.py
Due: none

fix: an attempt to address the tracer leak issue
  src/gwkokab/cosmology/_planck.py
Due: none

feat: add PLANCK_2013_Cosmology import to cosmology module
  src/gwkokab/cosmology/__init__.py
Due: none

fix: update unit tests
  tests/gwkokab/test_cosmology.py
Due: none

feat: specify default cosmology using environment variable (#773)
  src/gwkanal/core/inference_io/_discrete.py
  src/gwkokab/cosmology/__init__.py
  src/gwkokab/cosmology/_cosmology.py
  src/gwkokab/cosmology/_planck.py
  src/gwkokab/models/redshift/_models.py
  src/gwkokab/poisson_mean/_injection_based_helper.py
  tests/gwkokab/test_cosmology.py
Due: none

fix: load module once
  src/gwkanal/core/inference_io/_analytical.py
Due: none

docs: `uv` package manager to build the documentation on readthedocs
  .readthedocs.yml
Due: no-http

fix: renamed group flags to extra
  .readthedocs.yml
Due: no-http

docs: `uv` package manager to build the documentation on readthedocs (#774)
  .readthedocs.yml
Due: no-http

fix: remove Jacobian from likelihood (#771)
  src/gwkanal/core/inference_io/_analytical.py
  src/gwkanal/core/monk.py
  src/gwkokab/inference/analyticallikelihood.py
Due: none

feat: implement multivariate normal sampling and update analytical likelihood function
  src/gwkanal/core/inference_io/_analytical.py
  src/gwkanal/core/monk.py
  src/gwkokab/inference/analyticallikelihood.py
Due: none

chore(gh-454): pre-allocating indices to reduce dictionary lookup and vmap over model probability calculation
  src/gwkokab/inference/analyticallikelihood.py
Due: none

fix: adjust scaling in multivariate normal sampling function
  src/gwkanal/core/monk.py
Due: none

fix: return default/identity transform if not available inside the module
  src/gwkanal/core/inference_io/_analytical.py
Due: none

feat(gh-760): add normalize_path utility with env var and tilde support
  src/gwkokab/utils/__init__.py
  src/gwkokab/utils/path.py
  tests/gwkokab/utils/test_path.py
Due: none

chore: enhance functionality with resolution of `pathlib.Path` objects too
  src/gwkokab/utils/path.py
  tests/gwkokab/utils/test_path.py
Due: none

feat(gh-760): add normalize_path utility with env var and tilde support (#775)
  src/gwkokab/utils/__init__.py
  src/gwkokab/utils/path.py
  tests/gwkokab/utils/test_path.py
Due: none

feat: migrate pre-commit configuration to new format
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
  ruff.toml
  tombi.toml
Due: none

fix: remove exclusion of .pre-commit-config.yaml from no-repeated-whitespace hook
  prek.toml
Due: none

feat: migrate pre-commit configuration to new format (#776)
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
  ruff.toml
  tombi.toml
Due: none

Add smoothed powerlaw primary mass ratio distribution in generic multisource model
  src/gwkanal/multisource/common.py
  src/gwkokab/models/hybrids/_multisource.py
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/mass/__init__.py
  src/gwkokab/models/mass/_models.py
Due: none

feat: add N_spl parameter to MultiSourceModelMonk and MultiSourceModelSage constructors
  src/gwkanal/multisource/monk.py
  src/gwkanal/multisource/sage.py
Due: none

chore: enhance integration of uv
  .github/workflows/ci.yml
  .gitignore
  .readthedocs.yml
  docs/requirements.txt
  makefile
  pyproject.toml
  uv.lock
Due: no-http

fix: correct group name from 'docs' to 'doc' in CI configuration
  .github/workflows/ci.yml
Due: no-http

fix: correct 'extra' to 'group' in Read the Docs installation command
  .readthedocs.yml
Due: no-http

chore: enhance integration of uv (#778)
  .github/workflows/ci.yml
  .gitignore
  .readthedocs.yml
  docs/requirements.txt
  makefile
  pyproject.toml
  uv.lock
Due: no-http

fix: change in URLs in adherence to the recent change in the organization's name/username
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CITATION.bib
  CONTRIBUTING.md
  README.md
  docs/source/cite.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/installation.md
  examples/generating_mock_posterior_estimates.md
  examples/hbi_continuous_method.md
  examples/hbi_discrete_method.md
  examples/training_mlp.md
  pyproject.toml
  src/gwkanal/core/sage.py
Due: no-bracket-links, no-http

fix: change in URLs in adherence to the recent change in the organization's name/username (#779)
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CITATION.bib
  CONTRIBUTING.md
  README.md
  docs/source/cite.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/installation.md
  examples/generating_mock_posterior_estimates.md
  examples/hbi_continuous_method.md
  examples/hbi_discrete_method.md
  examples/training_mlp.md
  pyproject.toml
  src/gwkanal/core/sage.py
Due: no-bracket-links, no-http

feat: colorize argparse arguments via `rich_argparse`
  pyproject.toml
  src/gwkanal/core/synthetic_events.py
  src/gwkanal/core/synthetic_pe.py
  src/gwkanal/ecc_matters/monk.py
  src/gwkanal/ecc_matters/sage.py
  src/gwkanal/multisource/monk.py
  src/gwkanal/multisource/sage.py
  src/gwkanal/n_pls_m_gs/monk.py
  src/gwkanal/n_pls_m_gs/sage.py
  src/gwkanal/o3_n_pls_m_gs/monk.py
  src/gwkanal/o3_n_pls_m_gs/sage.py
  src/gwkanal/o4_n_bpls_m_gs/monk.py
  src/gwkanal/o4_n_bpls_m_gs/sage.py
  src/gwkokab_scripts/batch_scatter2d.py
  src/gwkokab_scripts/batch_scatter3d.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_overplot.py
  src/gwkokab_scripts/corner_plot.py
  src/gwkokab_scripts/diag_mass_matrix.py
  src/gwkokab_scripts/ess_evolution_plot.py
  src/gwkokab_scripts/ess_plot.py
  src/gwkokab_scripts/flowMC_cfg_template.py
  src/gwkokab_scripts/hist_overplot.py
  src/gwkokab_scripts/joint_plot.py
  src/gwkokab_scripts/numpyro_cfg_template.py
  src/gwkokab_scripts/ppd_plot.py
  src/gwkokab_scripts/r_hat_plot.py
  src/gwkokab_scripts/scatter2d.py
  src/gwkokab_scripts/scatter3d.py
Due: none

fix: correction of fomatter class in batch_scatter2d
  src/gwkokab_scripts/batch_scatter2d.py
Due: none

feat: colorize argparse arguments via `rich_argparse` (#780)
  pyproject.toml
  src/gwkanal/core/synthetic_events.py
  src/gwkanal/core/synthetic_pe.py
  src/gwkanal/ecc_matters/monk.py
  src/gwkanal/ecc_matters/sage.py
  src/gwkanal/multisource/monk.py
  src/gwkanal/multisource/sage.py
  src/gwkanal/n_pls_m_gs/monk.py
  src/gwkanal/n_pls_m_gs/sage.py
  src/gwkanal/o3_n_pls_m_gs/monk.py
  src/gwkanal/o3_n_pls_m_gs/sage.py
  src/gwkanal/o4_n_bpls_m_gs/monk.py
  src/gwkanal/o4_n_bpls_m_gs/sage.py
  src/gwkokab_scripts/batch_scatter2d.py
  src/gwkokab_scripts/batch_scatter3d.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_overplot.py
  src/gwkokab_scripts/corner_plot.py
  src/gwkokab_scripts/diag_mass_matrix.py
  src/gwkokab_scripts/ess_evolution_plot.py
  src/gwkokab_scripts/ess_plot.py
  src/gwkokab_scripts/flowMC_cfg_template.py
  src/gwkokab_scripts/hist_overplot.py
  src/gwkokab_scripts/joint_plot.py
  src/gwkokab_scripts/numpyro_cfg_template.py
  src/gwkokab_scripts/ppd_plot.py
  src/gwkokab_scripts/r_hat_plot.py
  src/gwkokab_scripts/scatter2d.py
  src/gwkokab_scripts/scatter3d.py
Due: none

fix: apply square to spin magnitude to neutralize reference prior
  src/gwkokab/poisson_mean/_injection_based_helper.py
Due: none

fix: apply square to spin magnitude to neutralize reference prior (#781)
  src/gwkokab/poisson_mean/_injection_based_helper.py
Due: none

feat: save samples that are generated and transformed
  src/gwkanal/core/monk.py
Due: none

feat: implement `SampleTransformer` for flexible sample transformations
  src/gwkanal/core/inference_io/_analytical.py
  src/gwkanal/core/monk.py
  src/gwkanal/core/utils.py
Due: none

fix: enhance error handling for `ln_offsets` shape in sample saving function
  src/gwkanal/core/monk.py
Due: none

Update src/gwkanal/core/utils.py
  src/gwkanal/core/utils.py
Due: none

chore: modify data access pattern
  src/gwkanal/core/monk.py
  src/gwkokab/inference/analyticallikelihood.py
Due: none

fix: adjust injection prior calculations for spin magnitudes and add fixed model assumptions for phi1 and phi2
  src/gwkokab/poisson_mean/_injection_based_helper.py
Due: none
