Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

chore: Update documentation for transforms, constraints, and inference
  docs/source/conf.py
  docs/source/constraints.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/models.rst
  docs/source/parameters.rst
  gwkokab/_src/models/models.py
Due: none

chore: update in scalar transformations
  docs/source/scalar_transforms.rst
Due: none

chore: Update intersphinx_mapping in conf.py
  docs/source/conf.py
  docs/source/constraints.rst
  docs/source/numpyro_transforms.rst
  docs/source/scalar_transforms.rst
Due: none

docs: Add FAQs, citation information, descriptions in various modules
  docs/source/FAQs.rst
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/constraints.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/models.rst
  docs/source/scalar_transforms.rst
  docs/source/what_is_gwkokab.rst
Due: none

docs: everything in autosummary
  .gitignore
  docs/source/conf.py
  docs/source/constraints.rst
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/inference.rst
  docs/source/models.rst
  docs/source/numpyro_transforms.rst
  docs/source/parameters.rst
  docs/source/scalar_transforms.rst
  docs/source/transforms.rst
Due: none

docs: logo added
  README.md
  images/logo.png
Due: no-bracket-links, no-http

docs: logo and favicon
  README.md
  docs/source/_static/favicon.png
  docs/source/_static/logo.png
  docs/source/conf.py
  images/logo.png
Due: no-bracket-links, no-http

GWKokab Docs (#129)
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  README.md
  docs/Makefile
  docs/requirements.txt
  docs/source/FAQs.rst
  docs/source/_static/favicon.png
  docs/source/_static/logo.png
  docs/source/_static/style.css
  docs/source/_templates/layout.html
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/what_is_gwkokab.rst
  gwkokab/_src/errors/__init__.py
  gwkokab/_src/errors/errors.py
  gwkokab/_src/inference/flowMChandler.py
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils/constraints.py
  gwkokab/_src/models/utils/smoothing.py
  gwkokab/_src/models/utils/transformations.py
  gwkokab/_src/utils/transformations.py
  gwkokab/errors.py
  pyproject.toml
Due: no-bracket-links, no-http

Transforms, constraints and docs (#131)
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  README.md
  docs/Makefile
  docs/requirements.txt
  docs/source/FAQs.rst
  docs/source/_static/favicon.png
  docs/source/_static/logo.png
  docs/source/_static/style.css
  docs/source/_templates/layout.html
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/what_is_gwkokab.rst
  gwkokab/_src/errors/__init__.py
  gwkokab/_src/errors/errors.py
  gwkokab/_src/inference/flowMChandler.py
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils/constraints.py
  gwkokab/_src/models/utils/smoothing.py
  gwkokab/_src/models/utils/transformations.py
  gwkokab/_src/utils/transformations.py
  gwkokab/models/constraints.py
  gwkokab/models/transformations.py
  pyproject.toml
  tests/test_constraints.py
  tests/test_model_transformations.py
Due: no-bracket-links, no-http

Update .readthedocs.yml
  .readthedocs.yml
Due: no-http

chore: dependencies updated
  docs/source/conf.py
  pyproject.toml
Due: none

fix: `Extension error Could not import extension nbsphinx (exception: No module named 'nbsphinx')`
  pyproject.toml
Due: none

chore: requirments updated for readthedoc
  docs/requirements.txt
Due: none

Update requirements.txt
  docs/requirements.txt
Due: none

chore: no home button in toc
  docs/source/conf.py
Due: none

chore: improper priors removed
  gwkokab/_src/parameters/parameters.py
  gwkokab/_src/priors/__init__.py
  gwkokab/_src/priors/priors.py
  gwkokab/priors.py
Due: none

chore: `prior` removed from `__init__`
  gwkokab/__init__.py
Due: none

`UnnomralizedUniformPrior` removed (#132)
  gwkokab/__init__.py
  gwkokab/_src/parameters/parameters.py
  gwkokab/_src/priors/__init__.py
  gwkokab/_src/priors/priors.py
  gwkokab/priors.py
Due: none

chore: gwk scripts in docs
  docs/source/_static/favicon.png
  docs/source/_static/style.css
  docs/source/conf.py
  docs/source/gwk_scripts.rst
  docs/source/index.rst
Due: none

chore: docs dependencies reduced
  docs/source/conf.py
  pyproject.toml
Due: none

Update README.md
  README.md
Due: no-bracket-links, no-http

chore: dev docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/dev_docs/code_of_conduct.rst
  docs/source/dev_docs/contributing.rst
  docs/source/dev_docs/index.rst
  docs/source/dev_docs/source_build.rst
  docs/source/index.rst
Due: no-bracket-links, no-http

chore: gwkokab description updated
  docs/source/what_is_gwkokab.rst
Due: none

chore: citation update
  docs/source/cite.rst
Due: none

chore: changelog added
  docs/source/changelog.rst
  docs/source/index.rst
Due: none

chore: changelog file
  CHANGELOG.md
Due: no-bracket-links, no-http

chore: changelog update
  CHANGELOG.md
Due: no-bracket-links, no-http

depreciates partial constraints
  CHANGELOG.md
  gwkokab/_src/models/utils/constraints.py
  gwkokab/models/constraints.py
Due: no-bracket-links, no-http

depreciates partial constraints (#134)
  CHANGELOG.md
  gwkokab/_src/models/utils/constraints.py
  gwkokab/models/constraints.py
Due: no-bracket-links, no-http

chore: doc string added to undoced functions and classes
  docs/source/gwkokab.models.rst
  examples/analysis_by_gwkokab.ipynb
  examples/neural_vt_1_200_1000.eqx
  examples/synthetic_data.ipynb
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/models.py
  gwkokab/_src/parameters/parameters.py
  gwkokab/_src/population/aliases.py
  gwkokab/_src/population/factory.py
Due: none

tutorial of vt training using gwkokab
  examples/nvt_training.ipynb
Due: none

chore: vt training tutorial in docs
  docs/source/index.rst
Due: none

chore: small favicon
  docs/source/_static/favicon.png
Due: none

How to train Neural VT? (#136)
  docs/source/index.rst
  examples/nvt_training.ipynb
Due: none

feat: wrapper for scaling models
  gwkokab/_src/models/utils/wrappers.py
  gwkokab/models/utils.py
Due: none

docs: update docs and change log
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  gwkokab/models/__init__.py
  gwkokab/models/utils.py
Due: no-bracket-links, no-http

chore: gwkokab magazine to register models
  gwkokab/_src/models/utils/wrappers.py
  gwkokab/models/utils.py
Due: none

feat: new simple api for data generation
  gwkokab/_src/population/__init__.py
  gwkokab/_src/population/aliases.py
  gwkokab/_src/population/factory.py
  gwkokab/_src/population/noisefactory.py
  gwkokab/population.py
Due: none

chore: update docs
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
Due: none

chore: pre-commit version updates and top ranking issue scripts bug resolved
  .pre-commit-config.yaml
  scripts/update_top_ranking_issues.py
Due: none

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$ and gwkokab||scripts||tests||examples
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and gwkokab||scripts||tests||examples
