Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

refactor: flexibility for different local sampler for flowMC (#412)
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/one_powerlaw_one_peak/sage.py
  src/kokab/utils/common.py
Due: none

feat: add Adam optimizer option for flowMC handling
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/one_powerlaw_one_peak/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/sage_parser.py
Due: none

feat: add Adam optimizer option for flowMC handling (#414)
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/one_powerlaw_one_peak/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/sage_parser.py
Due: none

feat: enhance `SmoothedPowerlawAndPeak` distribution with normalization of submodels with smoothing
  src/gwkokab/models/_models.py
Due: none

feat: update `SmoothedPowerlawAndPeak` distribution to improve normalization and interpolation of submodel data
  src/gwkokab/models/_models.py
Due: none

feat: refine `SmoothedPowerlawAndPeak` distribution by adjusting auxiliary and data fields, and improving log probability calculations
  src/gwkokab/models/_models.py
Due: none

fix: numerical integration of normalization constant from mass ratio distribution
  src/gwkokab/models/_models.py
Due: none

feat: enhance `SmoothedPowerlawAndPeak` distribution with improved log probability calculations and interpolation
  src/gwkokab/models/_models.py
Due: none

fix: prevent gradient flow through normalization constant in `SmoothedPowerlawAndPeak` distribution
  src/gwkokab/models/_models.py
Due: none

feat: enchane `SmoothedPowerlawAndPeak` for batched inputs
  src/gwkokab/models/_models.py
Due: none

feat: increase resolution of `m1s` and `qs` in `SmoothedPowerlawAndPeak` distribution
  src/gwkokab/models/_models.py
Due: none

feat: update `SmoothedPowerlawAndPeak` to support dynamic batch shapes
  src/gwkokab/models/_models.py
Due: none

feat: increase resolution of `_m1s` and `qs` in `SmoothedPowerlawAndPeak` distribution
  src/gwkokab/models/_models.py
Due: none

feat: serialize ppd computation
  src/kokab/utils/ppd.py
Due: none

feat: serialize ppd computation with batching
  src/kokab/utils/ppd.py
Due: none

feat: enhanced API for Adam Optimizer
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/one_powerlaw_one_peak/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/sage_parser.py
Due: none

refactor: provide weights as scales in smoothing models (#413)
  src/gwkokab/models/_models.py
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
  src/gwkokab/models/utils/_ncombination.py
  src/kokab/chi_eff_q_relation/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/n_spls_m_sgs/sage.py
  src/kokab/one_powerlaw_one_peak/sage.py
  src/kokab/utils/ppd.py
  src/kokab/utils/sage_parser.py
Due: none

feat: gwkokab cli for effective sample size per draw plot
  pyproject.toml
  src/cli_gwkokab/ess_plot.py
Due: none

feat: gwkokab cli for effective sample size per draw plot (#415)
  pyproject.toml
  src/cli_gwkokab/ess_plot.py
Due: none

refactor: remove unused imports in sage.py
  src/kokab/chi_eff_q_relation/sage.py
Due: none

docs: update GWKokab link and enhance documentation generation instructions
  docs/source/conf.py
  docs/source/source_build.md
  makefile
  src/gwkokab/debug/__init__.py
  src/gwkokab/inference/__init__.py
  src/gwkokab/models/__init__.py
  src/gwkokab/models/constraints.py
  src/gwkokab/models/transformations.py
  src/gwkokab/parameters/_parameters.py
Due: no-bracket-links, no-http

fix: correct zgrid initialization in `_ncombination.py`
  src/gwkokab/models/utils/_ncombination.py
Due: none

doc: all docstrings converted to numpy style
  CONTRIBUTING.md
  docs/source/conf.py
  src/cli_gwkokab/__init__.py
  src/gwkokab/constants.py
  src/gwkokab/debug/_debug.py
  src/gwkokab/errors.py
  src/gwkokab/inference/bake.py
  src/gwkokab/inference/flowMChandler.py
  src/gwkokab/inference/poissonlikelihood.py
  src/gwkokab/inference/utils.py
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  src/gwkokab/models/npowerlawmgaussian/_model.py
  src/gwkokab/models/nsmoothedpowerlawmsmoothedgaussian/_model.py
  src/gwkokab/models/redshift/_models.py
  src/gwkokab/models/spin/_models.py
  src/gwkokab/models/transformations.py
  src/gwkokab/models/utils/_joindistribution.py
  src/gwkokab/models/utils/_scaledmixture.py
  src/gwkokab/models/wrappers.py
  src/gwkokab/parameters/_parameters.py
  src/gwkokab/poisson_mean/_abc.py
  src/gwkokab/poisson_mean/_importance_sampling.py
  src/gwkokab/poisson_mean/_inverse_transform_sampling.py
  src/gwkokab/population/_factory.py
  src/gwkokab/population/_utils.py
  src/gwkokab/utils/kernel.py
  src/gwkokab/utils/math.py
  src/gwkokab/utils/tools.py
  src/gwkokab/utils/transformations.py
  src/gwkokab/vts/_abc.py
  src/gwkokab/vts/_neuralvt.py
  src/gwkokab/vts/_popmodelvt.py
  src/gwkokab/vts/_train.py
  src/gwkokab/vts/_utils.py
  src/gwkokab/vts/_vt.py
Due: no-bracket-links, no-http

chore: update pre-commit hooks and dependencies; enhance docstrings and documentation
  .pre-commit-config.yaml
  docs/source/conf.py
  pyproject.toml
  src/gwkokab/models/constraints.py
  src/gwkokab/models/transformations.py
  src/gwkokab/models/utils/_ncombination.py
  src/gwkokab/vts/__init__.py
  src/kokab/__init__.py
Due: none

fix: prevent overwriting existing values in flowMC default parameters
  src/kokab/utils/common.py
Due: none

fix: update type hint for __call__ method and add documentation to requirements.txt
  docs/requirements.txt
  src/gwkokab/inference/bake.py
Due: none

docs: update requirements.txt for dev dependencies and enhance FAQs with clearer subclassing instructions; add construction notices to several modules
  docs/requirements.txt
  docs/source/FAQs.md
  src/kokab/__init__.py
  src/kokab/chi_eff_q_relation/__init__.py
  src/kokab/ecc_matters/__init__.py
  src/kokab/n_pls_m_gs/__init__.py
  src/kokab/n_spls_m_sgs/__init__.py
  src/kokab/one_powerlaw_one_peak/__init__.py
Due: no-bracket-links, no-http

ci: simplify pytest command in CI workflow; add spacing in FAQs code examples
  .github/workflows/ci.yml
  docs/source/FAQs.md
Due: no-bracket-links, no-http

deps: add sphinx_design to documentation dependencies in pyproject.toml
  pyproject.toml
Due: none

style: adjust line wrapping in docstrings
  pyproject.toml
  src/cli_gwkokab/__init__.py
  src/gwkokab/inference/bake.py
  src/gwkokab/inference/poissonlikelihood.py
  src/gwkokab/inference/utils.py
  src/gwkokab/models/_models.py
  src/gwkokab/models/constraints.py
  src/gwkokab/models/multivariate/_chi_eff_mass_ratio.py
  src/gwkokab/models/redshift/_models.py
  src/gwkokab/models/utils/_ncombination.py
  src/gwkokab/models/utils/_scaledmixture.py
  src/gwkokab/poisson_mean/_importance_sampling.py
  src/gwkokab/poisson_mean/_inverse_transform_sampling.py
  src/gwkokab/population/_factory.py
  src/gwkokab/utils/kernel.py
  src/gwkokab/vts/__init__.py
  src/gwkokab/vts/_abc.py
  src/kokab/__init__.py
  src/kokab/utils/common.py
  src/kokab/utils/ppd.py
  src/kokab/utils/sage_parser.py
Due: none

fix: correct function name from chieff to chi_eff in _chi_eff_mass_ratio.py
  src/gwkokab/models/multivariate/_chi_eff_mass_ratio.py
Due: none

fix: correct docstring formatting in dVcdz method of Cosmology class
  src/gwkokab/cosmology/_cosmology.py
Due: none

chore: update CI workflow to use uv for installation and testing
  .github/workflows/ci.yml
Due: no-http

fix: correct docstring formatting in dVcdz method
  src/gwkokab/cosmology/_cosmology.py
Due: none

chore: update CI workflow to use latest action versions and enable caching for uv
  .github/workflows/ci.yml
Due: no-http

chore: activate virtual environment in CI workflow and update .gitignore for uv.lock
  .github/workflows/ci.yml
  .gitignore
Due: no-http

chore: move virtual environment activation to documentation rendering step in CI workflow
  .github/workflows/ci.yml
Due: no-http

refactor: update chi_eff error functions
  src/gwkokab/errors/__init__.py
  src/gwkokab/errors/_banana_error.py
  src/gwkokab/errors/_chi_eff_error.py
Due: none

chore: using jit decorator for transformations
  src/gwkokab/utils/transformations.py
Due: none
