Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

chore: pytest with staging
  .github/workflows/ci.yml
Due: no-http

chore: pip freeze and no stage
  .github/workflows/ci.yml
Due: no-http

chore: sage script for power law primary mass ratio with transformed parameters
  src/kokab/powerlawprimarymassratio/sage.py
Due: none

chore: genie script for power law primary mass ratio with transformed parameters
  src/kokab/powerlawprimarymassratio/common.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/powerlawprimarymassratio/sage.py
Due: none

fix: constraints for genie
  src/kokab/powerlawprimarymassratio/common.py
  src/kokab/powerlawprimarymassratio/genie.py
Due: none

Refactor sage scripts for PowerLawPrimaryMassRatio for Primary Mass Source and Secondary Mass Source (#282)
  src/kokab/powerlawprimarymassratio/common.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/powerlawprimarymassratio/sage.py
Due: none

chore: special handling of division by zero or inf values in power law primary mass ratio
  src/gwkokab/models/_models.py
  src/gwkokab/models/transformations.py
  src/gwkokab/utils/transformations.py
Due: none

chore: completly removing codecov from gwkokab
  .codecov.yml
  .coveragerc
  .github/workflows/ci.yml
  .gitignore
  README.md
Due: no-bracket-links, no-http

gh-278: Remove CodeCov (#281)
  .codecov.yml
  .github/workflows/ci.yml
  .gitignore
  README.md
  src/gwkokab/__init__.py
Due: no-bracket-links, no-http

chore: double where log in PrimaryMassAndMassRatioToComponentMassesTransform
  src/gwkokab/models/transformations.py
Due: none

gh-263: Handling limiting cases in PowerLawPrimaryMassRatio (#284)
  src/gwkokab/models/_models.py
  src/gwkokab/models/transformations.py
  src/gwkokab/utils/transformations.py
Due: none

chore: required=False for cli arguments with default values
  src/gwkokab_scripts/corner_plot.py
  src/kokab/ecc_matters/genie.py
  src/kokab/powerlawpeak/genie.py
  src/kokab/single_gaussians/genie.py
  src/kokab/utils/genie_parser.py
Due: none

gh-260: Required removed from default values in genie and sage scripts (#285)
  src/gwkokab_scripts/corner_plot.py
  src/kokab/ecc_matters/genie.py
  src/kokab/powerlawpeak/genie.py
  src/kokab/single_gaussians/genie.py
  src/kokab/utils/genie_parser.py
Due: none

fix: nan or inf issue in gradient
  src/gwkokab/inference/poissonlikelihood.py
Due: none

Refactor PoissonLikelihood class to improve working for multirate models
  src/gwkokab/inference/poissonlikelihood.py
Due: none

shape fix for multirate
  src/gwkokab/inference/poissonlikelihood.py
Due: none

October Dependent bot updates (#297)
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/update_all_top_ranking_issues.yml
  pyproject.toml
  scripts/requirements.txt
Due: no-http

Refactor multi_rate likelihood
  src/gwkokab/inference/poissonlikelihood.py
Due: none

refactor: multirate likelihood with no-nan gradients
  src/gwkokab/inference/poissonlikelihood.py
Due: none

Multi rate likelihood with no-nan gradients (#299)
  src/gwkokab/inference/poissonlikelihood.py
Due: none

Stop gradient for constant parameters
  src/gwkokab/inference/bake.py
Due: none

Raise error if data files are unavailable
  src/kokab/utils/common.py
  tests/kokab/utils/test_common.py
Due: none

enable global validation only when parser is called
  src/kokab/utils/genie_parser.py
  src/kokab/utils/sage_parser.py
Due: none

gh-298: Raise error if data files are unavailable (#300)
  src/kokab/utils/common.py
  src/kokab/utils/genie_parser.py
  src/kokab/utils/sage_parser.py
  tests/kokab/utils/test_common.py
Due: none

gh-243: enabling genie_n_pl_m_g to take multiple rate as inputs, closes #243
  src/kokab/utils/genie_parser.py
Due: none

Refactor Bake class to handle duplicate variable names
  src/gwkokab/inference/bake.py
  src/gwkokab/inference/poissonlikelihood.py
Due: none

Fixes rate being passes as list for single source models
  src/gwkokab/population/_factory.py
Due: none

Refactor match_all function to handle duplicate variable names
  src/kokab/utils/regex.py
  tests/kokab/utils/test_regex.py
Due: none

gh-287: Duplication of parameters in inference (#301)
  src/gwkokab/inference/bake.py
  src/gwkokab/inference/poissonlikelihood.py
  src/kokab/utils/regex.py
  tests/kokab/utils/test_regex.py
Due: none

new hooks in pre-commit config
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/FAQs.rst
  docs/source/changelog.rst
  docs/source/cite.rst
  docs/source/examples.rst
  docs/source/gwk_scripts.rst
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/installation.rst
  src/gwkokab/models/_models.py
  src/gwkokab/models/constraints.py
Due: no-bracket-links, no-http

pre-commit config update (#302)
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/FAQs.rst
  docs/source/changelog.rst
  docs/source/cite.rst
  docs/source/examples.rst
  docs/source/gwk_scripts.rst
  docs/source/gwkokab.errors.rst
  docs/source/gwkokab.inference.rst
  docs/source/gwkokab.parameters.rst
  docs/source/gwkokab.utils.rst
  docs/source/gwkokab.vts.rst
  docs/source/index.rst
  docs/source/installation.rst
  src/gwkokab/models/_models.py
  src/gwkokab/models/constraints.py
Due: no-bracket-links, no-http

chore: convinence functions to calculate posterior predictive distirbution
  .pre-commit-config.yaml
  src/kokab/utils/ppd.py
Due: none

Update src/kokab/utils/ppd.py
  src/kokab/utils/ppd.py
Due: none

chore: issue of rift with numpy2.0 has been resolved, removing constraints from numpy
  .github/dependabot.yml
Due: no-http

chore: ppd computation and saving after inference in n_pl_m_g
  pyproject.toml
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/__init__.py
  src/kokab/utils/ppd.py
Due: none

unified NPowerLawMGaussian with flexibility for spin, tilt, eccentricity and redshift
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
Due: none

changelog updated for unified NPowerLawMGaussian
  CHANGELOG.md
Due: no-bracket-links, no-http

unified `NPowerLawMGaussian` with flexibility for spin, tilt, eccentricity and redshift (#316)
  CHANGELOG.md
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
Due: no-bracket-links, no-http

fix: Removed variants of NPowerLawMGaussian has been removed from docs too
  docs/source/gwkokab.models.rst
Due: none

fix: making of JointDistribution in NPowerLawMGaussian
  src/gwkokab/models/_models.py
Due: none
