Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [pre-commit]

default_install_hook_types: [pre-commit, commit-msg]

files: src||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.3"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, MD024 "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--ignore-words-list, "statics,socio-economic,precessing,astroid", --check-filenames, --skip, "*.ipynb"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        args: [-formatter, retain_line_breaks=true]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: text-unicode-replacement-char
        # Forbid files which have a UTF-8 Unicode replacement character.
  - repo: https://github.com/PyCQA/docformatter
    # using an untagged rev for forward compatibility with pre-commit 4.0
    # see https://github.com/PyCQA/docformatter/issues/289
    # This should be changed back to a tag when (>1.7.5) is released
    rev: 06907d0267368b49b9180eed423fae5697c1e909
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
        args: [--close-quotes-on-newline, --in-place, --config, ./pyproject.toml]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.32.1
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter, makefile, rst, yaml, markdown]

refactor: simplify config loading by returning the entire config instead of just 'bundle_config'
  src/kokab/core/flowMC_based.py
  src/scripts/gwk_flowMC_info.py
Due: none

refactor: update `_save_chains` function to use `is_training` parameter and improve type hints
  src/kokab/core/flowMC_based.py
Due: none

refactor: improve data saving methods (#715)
  src/kokab/core/flowMC_based.py
  src/scripts/gwk_flowMC_info.py
Due: none

feat(uxdx): scripts to generate template configuration for flowMC and NumPyro NUTS sampler
  pyproject.toml
  src/scripts/gwk_flowMC_cfg_template.py
  src/scripts/gwk_numpyro_cfg_template.py
Due: none

refactor: unify configuration function names in flowMC and NumPyro templates
  src/scripts/gwk_flowMC_cfg_template.py
  src/scripts/gwk_numpyro_cfg_template.py
Due: none

feat(uxdx): scripts to generate template configuration for flowMC and NumPyro NUTS sampler (#717)
  pyproject.toml
  src/scripts/gwk_flowMC_cfg_template.py
  src/scripts/gwk_numpyro_cfg_template.py
Due: none

fix: low and high in two truncated normal mixture are not necessary
  src/gwkokab/models/hybrids/_ncombination.py
Due: none

feat(gh-135): add `GaussianPrimaryMassRatio` distribution for primary mass and mass ratio modeling
  src/gwkokab/models/__init__.py
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/hybrids/_npowerlawmgaussian.py
  src/gwkokab/models/mass/__init__.py
  src/gwkokab/models/mass/_models.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/monk.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

fix: update mass ratio constraint in `GaussianPrimaryMassRatio class`
  src/gwkokab/models/mass/_models.py
Due: none

fix: update return type and docstring for `create_gaussian_primary_mass_ratios` function
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/mass/_models.py
Due: none

Update src/gwkokab/models/mass/_models.py
  src/gwkokab/models/mass/_models.py
Due: none

fix: tests related to `NPowerlawMGaussian`
  tests/test_distributions.py
Due: none

chore: move all scripts from `src/cli_gwkokab` to `src/scripts`
  pyproject.toml
  src/cli_gwkokab/__init__.py
  src/scripts/__init__.py
  src/scripts/batch_scatter2d.py
  src/scripts/batch_scatter3d.py
  src/scripts/chain_plot.py
  src/scripts/corner_overplot.py
  src/scripts/corner_plot.py
  src/scripts/ess_evolution_plot.py
  src/scripts/ess_plot.py
  src/scripts/hist_overplot.py
  src/scripts/joint_plot.py
  src/scripts/ppd_plot.py
  src/scripts/r_hat_plot.py
  src/scripts/scatter2d.py
  src/scripts/scatter3d.py
Due: none

chore: move all scripts from `src/cli_gwkokab` to `src/scripts` (#719)
  pyproject.toml
  src/cli_gwkokab/__init__.py
  src/scripts/__init__.py
  src/scripts/batch_scatter2d.py
  src/scripts/batch_scatter3d.py
  src/scripts/chain_plot.py
  src/scripts/corner_overplot.py
  src/scripts/corner_plot.py
  src/scripts/ess_evolution_plot.py
  src/scripts/ess_plot.py
  src/scripts/hist_overplot.py
  src/scripts/joint_plot.py
  src/scripts/ppd_plot.py
  src/scripts/r_hat_plot.py
  src/scripts/scatter2d.py
  src/scripts/scatter3d.py
Due: none

fix: adjust error thresholds for unit tests to pass
  tests/test_distributions.py
Due: none

feat(gh-135): add `GaussianPrimaryMassRatio` distribution for primary mass and mass ratio modeling (#718)
  src/gwkokab/models/__init__.py
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/hybrids/_npowerlawmgaussian.py
  src/gwkokab/models/mass/__init__.py
  src/gwkokab/models/mass/_models.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/monk.py
  src/kokab/n_pls_m_gs/sage.py
  tests/test_distributions.py
Due: none

ci: replacing `pre-commit` with `prek`
  .github/workflows/prek.yml
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: no-bracket-links, no-http

fix: run action only on when there are changes in pull request
  .github/workflows/prek.yml
Due: no-http

chore: change action rule for `prek.yml`
  .github/workflows/prek.yml
Due: no-http

fix: manually setup go lang for gitleak hooks
  .github/workflows/prek.yml
Due: no-http

chore: ensure python is installed
  .github/workflows/prek.yml
Due: no-http

chore: checkout repository
  .github/workflows/prek.yml
Due: no-http

chore: remove manual python setup
  .github/workflows/prek.yml
Due: no-http

ci: replacing `pre-commit` with `prek` (#720)
  .github/workflows/prek.yml
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: no-bracket-links, no-http

Revert "chore: `uv.lock` upgrade"
  uv.lock
Due: none

chore: uv.lock upgrade
  uv.lock
Due: none

chore(gh-135, gh-718): double cuts in `GaussianPrimaryMassRatio` model
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/mass/_models.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/monk.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

doc: enhance `GaussianPrimaryMassRatio` documentation with mathematical expressions and parameter descriptions
  src/gwkokab/models/mass/_models.py
Due: none

fix: unit test cases
  tests/test_distributions.py
Due: none

Revert "feat(gh-135): add `GaussianPrimaryMassRatio` distribution for primary mass and mass ratio modeling (#718)"
  src/gwkokab/models/__init__.py
  src/gwkokab/models/hybrids/_ncombination.py
  src/gwkokab/models/hybrids/_npowerlawmgaussian.py
  src/gwkokab/models/mass/__init__.py
  src/gwkokab/models/mass/_models.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/monk.py
  src/kokab/n_pls_m_gs/sage.py
  tests/test_distributions.py
Due: none

chore: sort component masses in during fake PE generation
  src/kokab/core/population.py
Due: none

Update src/kokab/core/population.py
  src/kokab/core/population.py
Due: none

chore: sort component masses during fake PE generation (#722)
  src/kokab/core/population.py
Due: none

refactor: clean up data loading logic and prior calculations in `DiscreteParameterEstimationLoader`
  pyproject.toml
  src/kokab/core/inference_io/discrete.py
Due: none

chore: refactor `parameters` list to be passed while loading the data
  src/kokab/core/__init__.py
  src/kokab/core/inference_io/__init__.py
  src/kokab/core/inference_io/_discrete.py
Due: none

chore: refactor sage scripts to accomodate new data loader
  src/kokab/core/sage.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/o3_n_pls_m_gs/sage.py
  src/kokab/o4_n_bpls_m_gs/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/literals.py
  tests/kokab/utils/test_common.py
Due: none

chore: explicit equating and hashing methods
  src/gwkokab/parameters.py
Due: none

fix: remove duplicate logging statements
  src/kokab/core/inference_io/_discrete.py
Due: none

refactor: enhance documentation
  docs/source/conf.py
  src/kokab/core/inference_io/_discrete.py
Due: none

refactor: improve docstring formatting
  src/kokab/core/inference_io/_discrete.py
Due: none
