Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

fix: `label` left at a place
  gwkokab/_src/parameters/parameters.py
Due: none

chore: population directory removed from public api
  gwkokab/population.py
Due: none

fix: `label` removed from `ncopy` function
  gwkokab/_src/parameters/parameters.py
Due: none

update: data generation example (eccentricity matters)
  .pre-commit-config.yaml
  examples/neural_vt_1_200_1000.eqx
  examples/synthetic_data.ipynb
Due: none

chore: notebook with outputs
  examples/neural_vt_1_200_1000.eqx
  examples/synthetic_data.ipynb
Due: none

chore: validation of args of numpyro distributions in parameters true by default
  gwkokab/_src/parameters/parameters.py
Due: none

chore: eccentricity matters analysis notebook
  examples/analysis_by_gwkokab.ipynb
Due: none

chore: Update Python version to 3.11 and use ruff for linting and formatting
  .github/workflows/python-package.yml
Due: no-http

chore: README and pyproject update
  README.md
  pyproject.toml
Due: no-bracket-links, no-http

chore: update README
  README.md
Due: no-bracket-links, no-http

feat: Add PrimaryMassMassRatioToComponentMassTransform to models.utils.transformations
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils/transformations.py
  gwkokab/models/transformations.py
Due: none

chore: better type hints
  gwkokab/_src/models/utils/transformations.py
Due: none

feat: Add PrimaryMassMassRatioToComponentMassTransform and related constraints
  gwkokab/_src/models/utils/constraints.py
  gwkokab/_src/models/utils/transformations.py
  tests/test_model_transformations.py
Due: none

feat: Refactor PrimaryMassMassRatioToComponentMassTransform and related constraints
  gwkokab/_src/models/utils/__init__.py
  gwkokab/_src/models/utils/transformations.py
  gwkokab/models/transformations.py
Due: none

chore: `PrimaryMassMassRatioToComponentMassesTransform` reparamaterized
  gwkokab/_src/models/utils/transformations.py
  tests/test_model_transformations.py
Due: none

chore: constraints for chirp mass and symmetric mass ratio tuple
  gwkokab/_src/models/utils/constraints.py
  gwkokab/models/constraints.py
Due: none

fix: bug in mass sandwich constraint
  gwkokab/_src/models/utils/constraints.py
Due: none

chore: component masses to chirp mass and symmetric mass ratio transform
  gwkokab/_src/models/utils/transformations.py
  gwkokab/models/transformations.py
  tests/test_model_transformations.py
Due: none

chore: refactor `ComponentMassesToChirpMassAndSymmetricMassRatio`
  gwkokab/_src/models/utils/transformations.py
Due: none

feat: new transform `DeltaToSymmetricMassRatio`
  gwkokab/_src/models/utils/transformations.py
  gwkokab/models/transformations.py
  tests/test_model_transformations.py
Due: none

Update corner_plot.py
  gwkokab/_src/scripts/corner_plot.py
Due: none

chore: code lines reordered
  gwkokab/_src/models/utils/transformations.py
Due: none

chore: run tests on every push
  .github/workflows/python-package.yml
Due: no-http

inference_analysis
  .DS_Store
  examples/.DS_Store
  examples/gwk_genie.ipynb
  examples/gwk_inference.ipynb
  examples/images/.DS_Store
  examples/images/global_accs.png
  examples/images/global_accs0.png
  examples/images/global_accs2.png
  examples/images/global_accs3.png
  examples/images/global_accs4.png
  examples/images/global_accs5.png
  examples/images/local_accs.png
  examples/images/local_accs0.png
  examples/images/local_accs2.png
  examples/images/local_accs3.png
  examples/images/local_accs4.png
  examples/images/local_accs5.png
  examples/images/m1m2_batch_0.png
  examples/images/m1m2_inj_0.png
  examples/images/nf_samples.png
  examples/images/nf_samples0.png
  examples/images/nf_samples2.png
  examples/images/nf_samples3.png
  examples/images/nf_samples4.png
  examples/images/nf_samples5.png
  examples/images/train_chains.png
  examples/images/train_chains0.png
  examples/images/train_chains2.png
  examples/images/train_chains3.png
  examples/images/train_chains4.png
  examples/images/train_chains5.png
  examples/inference_analysis.md
Due: no-bracket-links, no-http

Refactor transformations and constraints for component masses and chirp mass
  gwkokab/_src/models/utils/constraints.py
  gwkokab/_src/models/utils/transformations.py
  gwkokab/models/constraints.py
  gwkokab/models/transformations.py
  tests/test_constraints.py
  tests/test_model_transformations.py
Due: none

chore: .DS_Store files removed
  .DS_Store
  .gitignore
  examples/.DS_Store
  examples/images/.DS_Store
Due: none

fix: spelling mistakes, pre-commit suggestions
  examples/inference_analysis.md
Due: no-bracket-links, no-http

Create dependabot.yml
  .github/dependabot.yml
Due: no-http

Update dependabot.yml
  .github/dependabot.yml
Due: no-http

chore: Update dependencies and configuration files
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/Makefile
  docs/requirements.txt
  docs/source/_static/style.css
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  pyproject.toml
Due: no-http

chore: convert doc-string from dollar to math for sphinx docs
  .pre-commit-config.yaml
  docs/requirements.txt
  gwkokab/_src/errors/errors.py
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils/constraints.py
  gwkokab/_src/models/utils/smoothing.py
Due: none

chore: inline maths identifier changed
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/models.py
Due: none

chore: hyperlink style changed to sphinx sytle
  gwkokab/_src/errors/errors.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils/smoothing.py
Due: none

chore: hyperlink style changed from markdown to sphinx style
  docs/source/conf.py
  docs/source/index.rst
Due: none

chore: examples/tutorials in docs
  docs/source/conf.py
  docs/source/index.rst
Due: none

chore: trivial errors removed
  .gitignore
  gwkokab/_src/errors/__init__.py
  gwkokab/_src/errors/errors.py
  gwkokab/errors.py
Due: none

chore: docs for inference
  docs/source/conf.py
  docs/source/index.rst
  docs/source/inference.rst
  gwkokab/_src/inference/flowMChandler.py
  gwkokab/_src/inference/hbm.py
Due: none

chore: Add constraints documentation
  docs/source/constraints.rst
  docs/source/index.rst
  gwkokab/_src/models/utils/constraints.py
Due: none

chore: Add transforms documentation
  docs/source/conf.py
  docs/source/index.rst
  docs/source/numpyro_transforms.rst
  docs/source/scalar_transforms.rst
  docs/source/transforms.rst
  gwkokab/_src/models/utils/transformations.py
  gwkokab/_src/utils/transformations.py
Due: none

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$ and gwkokab||scripts
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and gwkokab||scripts
