Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

chore: population generation process optimized by reduction in I/O calls
  gwkokab/_src/population/factory.py
Due: none

chore: data generation example updated
  examples/synthetic_data.ipynb
  gwkokab/_src/models/utils/wrappers.py
Due: none

chore: changelog updated
  CHANGELOG.md
Due: no-bracket-links, no-http

New API for creating models for data generation (#137)
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.population.rst
  docs/source/gwkokab.rst
  examples/synthetic_data.ipynb
  gwkokab/_src/models/utils/wrappers.py
  gwkokab/_src/population/__init__.py
  gwkokab/_src/population/aliases.py
  gwkokab/_src/population/factory.py
  gwkokab/_src/population/noisefactory.py
  gwkokab/models/__init__.py
  gwkokab/models/utils.py
Due: no-bracket-links, no-http

chore: `pytree_data_fields` added in models
  gwkokab/_src/models/models.py
Due: none

feat: Add `gwkokab.utils.math` module with beta distribution calculations
  docs/source/gwkokab.utils.rst
  gwkokab/_src/utils/math.py
  gwkokab/utils/math.py
  tests/test_math.py
Due: none

feat: new model `MultiSpinModel`
  docs/source/gwkokab.models.rst
Due: none

feat: new model `MultiSpinModel` (implementaion)
  gwkokab/_src/models/__init__.py
  gwkokab/_src/models/models.py
  gwkokab/models/__init__.py
Due: none

feat: Refactor module imports in gwkokab models
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/models/__init__.py
  gwkokab/_src/models/constraints.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/transformations.py
  gwkokab/_src/models/utils.py
  gwkokab/_src/models/utils/__init__.py
  gwkokab/_src/models/utils/jointdistribution.py
  gwkokab/_src/models/utils/nits.py
  gwkokab/_src/models/utils/smoothing.py
  gwkokab/_src/models/wrappers.py
  gwkokab/_src/population/factory.py
  gwkokab/models/__init__.py
  gwkokab/models/constraints.py
  gwkokab/models/transformations.py
  gwkokab/models/utils.py
Due: none

chore: mathemtical definition removed from the MultiSpin model
  gwkokab/_src/models/models.py
Due: none

feat: new model `MultiSourceModel`
  docs/source/gwkokab.models.rst
  gwkokab/_src/models/__init__.py
  gwkokab/_src/models/models.py
  gwkokab/_src/models/utils.py
  gwkokab/models/__init__.py
Due: none

chore: change log updated with new models
  CHANGELOG.md
Due: no-bracket-links, no-http

new issue templates
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: no-http

fix: ci file path fixed
  .github/workflows/ci.yml
Due: no-http

additional information section in model request templates
  .github/ISSUE_TEMPLATE/2_model_request.yml
Due: no-http

fix: installation command in ci workflow
  .github/workflows/ci.yml
Due: no-http

chore: merge main
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  scripts/update_top_ranking_issues.py
Due: no-http

feat: `Bake` class for easy model definition for inference
  gwkokab/_src/inference/__init__.py
  gwkokab/_src/inference/bake.py
  gwkokab/inference.py
Due: none

chore: `Bake` functionality reduce
  gwkokab/_src/inference/bake.py
Due: none

chore: `Bake` as pytree
  gwkokab/_src/inference/bake.py
Due: none

chore: new likelihood for multi-rate models
  gwkokab/_src/inference/__init__.py
  gwkokab/_src/inference/hbm.py
  gwkokab/_src/inference/poissonlikelihood.py
  gwkokab/inference.py
Due: none

chore: pytree releated arguments in `JointDistribution`
  gwkokab/_src/models/utils.py
Due: none

chore: argument parsing in log likelihood fixed
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

clean: `ModelPack` removed
  gwkokab/_src/inference/__init__.py
  gwkokab/_src/inference/poissonlikelihood.py
  gwkokab/_src/inference/utils.py
  gwkokab/inference.py
Due: none

docs: documentation for inference module
  docs/source/_static/style.css
  docs/source/conf.py
  docs/source/gwkokab.inference.rst
  gwkokab/_src/inference/bake.py
Due: none

docs: changelog update
  CHANGELOG.md
Due: no-bracket-links, no-http

docs: readme update and installation instruction modified
  README.md
  docs/source/installation.rst
Due: no-bracket-links, no-http

fix: transforms for powerlaw in multi source/spin model
  gwkokab/_src/models/models.py
Due: none

chore: no more neural vt check points
  .gitignore
Due: none

population generation for multirate models
  gwkokab/_src/population/factory.py
Due: none

chore: typos fixed in poisson likelihood
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

feat: Add abstract module for PyTreeABC implementation
  gwkokab/_src/abstract/__init__.py
  gwkokab/_src/abstract/pytreeabc.py
  gwkokab/abstract.py
Due: none

docs: documentation for abstract classes
  docs/source/gwkokab.abstract.rst
  docs/source/gwkokab.rst
Due: none

chore: changelog update
  CHANGELOG.md
  gwkokab/_src/utils/abstract/__init__.py
  gwkokab/_src/utils/abstract/pytreeabc.py
  gwkokab/utils/abstract.py
Due: no-bracket-links, no-http

docs: documentation update
  docs/source/gwkokab.abstract.rst
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
Due: none

Revert "Abstract module for PyTrees"
  CHANGELOG.md
  docs/source/gwkokab.rst
  docs/source/gwkokab.utils.rst
  gwkokab/_src/utils/abstract/__init__.py
  gwkokab/_src/utils/abstract/pytreeabc.py
  gwkokab/utils/abstract.py
Due: no-bracket-links, no-http

chore: `Bake`, `PoissonLikelihood`, and `Parameter` as PyTrees
  gwkokab/_src/inference/bake.py
  gwkokab/_src/inference/poissonlikelihood.py
  gwkokab/_src/parameters/parameters.py
Due: none

bug fix
  gwkokab/_src/inference/poissonlikelihood.py
Due: none

bug fix
  gwkokab/_src/models/models.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: no-bracket-links, no-http
