Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

chore: npowerlaw and mgaussian vanila
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/models/__init__.py
Due: none

chore: refactor NPowerLawMGaussianWithDefaultSpinMagnitudeAndSpinMisalignment model for efficiency
  CHANGELOG.md
  src/gwkokab/_src/models/models.py
Due: no-bracket-links, no-http

chore: refactor all flavors of NPowerLawMGaussian model with different Normal distribution for each mass
  src/gwkokab/_src/models/models.py
Due: none

N PowerLaw M Gaussians with different flavors (Vanila, Spin, Tilt and Spin and Tilt) (#240)
  .codecov.yml
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/models/__init__.py
Due: no-bracket-links, no-http

breaking: multispin and multisource model depreciated
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/_src/models/utils.py
  src/gwkokab/models/__init__.py
Due: no-bracket-links, no-http

breaking: `multispin` and `multisource` model depreciated (#241)
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/_src/models/utils.py
  src/gwkokab/models/__init__.py
Due: no-bracket-links, no-http

chore: refactor n_pl_m_g with no-spin and no-tilt flags
  src/kokab/n_pls_m_gs/sage.py
Due: none

chore: parameter for inference fixed by choice of model in n_pl_m_g
  src/kokab/n_pls_m_gs/sage.py
Due: none

chore: no spin no tilt case in n_pl_m_g
  src/kokab/n_pls_m_gs/sage.py
Due: none

fix: plotting scripts path and header reading bug
  .codecov.yml
  pyproject.toml
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
Due: no-http

fix: plotting scripts path and header reading bug (#242)
  .codecov.yml
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
Due: no-http

chore: validate tranformations
  src/gwkokab/_src/models/models.py
Due: none

fix: PrimaryMassAndMassRatioToComponentMassesTransform domain and codomain fixed
  src/gwkokab/_src/models/constraints.py
  src/gwkokab/_src/models/transformations.py
Due: none

fix: unique interval dimension
  src/gwkokab/_src/models/constraints.py
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: no-http

chore(deps): bump actions/checkout (#258)
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

chore(deps): bump pypi packages versions (#259)
  pyproject.toml
  scripts/requirements.txt
Due: none

chore: sage script for eccentricity matters
  pyproject.toml
  src/kokab/ecc_matters/common.py
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/utils/sage_parser.py
Due: none

chore: eccentricity matters, eccentricity models fixed to half normal
  src/kokab/ecc_matters/sage.py
  src/kokab/utils/common.py
Due: none

chore: multirate disabled from eccentricity model
  src/kokab/ecc_matters/sage.py
Due: none

fix: dict passed as prior
  src/kokab/ecc_matters/sage.py
Due: none

sage scripts in `kokab` namespace (#233)
  pyproject.toml
  src/gwkokab/_src/models/models.py
  src/gwkokab/_src/models/transformations.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
  src/kokab/ecc_matters/common.py
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/n_pls_m_gs/common.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/__init__.py
  src/kokab/utils/common.py
  src/kokab/utils/regex.py
  src/kokab/utils/sage_parser.py
Due: none

dept: no more truncated power law
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/_src/models/utils.py
  src/gwkokab/models/__init__.py
Due: no-bracket-links, no-http

gh-78(dept): Truncated Power Law removed (#262)
  CHANGELOG.md
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/_src/models/utils.py
  src/gwkokab/models/__init__.py
Due: no-bracket-links, no-http

chore: distribution tests copied from numpyro
  src/gwkokab/_src/models/models.py
  tests/test_distributions.py
Due: none

chore: mass constraint name fixed
  src/gwkokab/_src/models/constraints.py
Due: none

gh-265: constraint name typo fixed (#266)
  src/gwkokab/_src/models/constraints.py
Due: none

chore: update code coverage in CI workflow
  .github/workflows/ci.yml
  .gitignore
Due: no-http

chore: upload report to codecov
  .github/workflows/ci.yml
Due: no-http

chore: removed posting coverage seperatly from workflow
  .github/workflows/ci.yml
Due: no-http

chore: documentation build and code tests in ci workflow
  .github/workflows/ci.yml
Due: no-http

fix: pandoc not available for notebook
  .github/workflows/ci.yml
  docs/requirements.txt
Due: no-http

chore: pandoc through apt package manager
  .github/workflows/ci.yml
Due: no-http

chore: Update dependencies in documentation
  .github/workflows/ci.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/gwkokab.parameters.rst
  examples/analysis_by_gwkokab.ipynb
  examples/synthetic_data.ipynb
  pyproject.toml
Due: no-http

chore: run tests on both x32 and x64 modes
  .github/workflows/ci.yml
Due: no-http

chore: proper names to the running jobs
  .github/workflows/ci.yml
Due: no-http

chore: tests for BrokenPowerLawMassModel and PowerLawPeakMassModel
  tests/test_distributions.py
Due: none

gh-261: distributions tests from numpyro modified and adjusted for gwkokab (#264)
  src/gwkokab/_src/models/models.py
  tests/test_distributions.py
Due: none

extra modules from docs removed
  docs/source/gwkokab.models.rst
  docs/source/gwkokab.vts.rst
Due: none
