Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

chore: refactor debug functions usage
  src/gwkokab/_src/debug/__init__.py
  src/gwkokab/_src/debug/_debug.py
  src/gwkokab/_src/inference/poissonlikelihood.py
Due: none

chore: changelog update with debug information
  CHANGELOG.md
Due: no-bracket-links, no-http

chore: unit test for debug updated
  tests/test_debug.py
Due: none

chore: license updated
  src/gwkokab/_src/debug/__init__.py
  src/gwkokab/_src/debug/_debug.py
  src/gwkokab/debug.py
  tests/test_math.py
Due: none

Update update_all_top_ranking_issues.yml
  .github/workflows/update_all_top_ranking_issues.yml
Due: no-http

refactor: add new genie script for n_pls_m_gs
  pyproject.toml
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/utils/__init__.py
  src/kokab/utils/regex.py
Due: none

Update src/kokab/utils/regex.py
  src/kokab/utils/regex.py
Due: none

chore: data generation scripts will start with genie
  pyproject.toml
Due: none

chore: workflow update and optimized
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: no-http

chore: python version put inside the string in ci workflow
  .github/workflows/ci.yml
Due: no-http

chore: formated files from ruff 0.6.4
  examples/analysis_by_gwkokab.ipynb
  examples/nvt_training.ipynb
  examples/synthetic_data.ipynb
  src/kokab/ecc_matters/genie.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/powerlawpeak/genie.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/single_gaussians/genie.py
  tests/test_constraints.py
  tests/test_math.py
  tests/test_model_transformations.py
  tests/test_transformations.py
Due: none

chore: intitial utils for sage scripts
  src/kokab/utils/__init__.py
  src/kokab/utils/common.py
  src/kokab/utils/sage_parser.py
Due: none

chore: sage script for n-powerlaw-m-gaussains
  pyproject.toml
  src/kokab/n_pls_m_gs/common.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/__init__.py
  src/kokab/utils/sage_parser.py
Due: none

chore: friendship ended with polars now pandas is my friend
  pyproject.toml
  src/gwkokab/_src/scripts/batch_scatter2d.py
  src/gwkokab/_src/scripts/batch_scatter3d.py
  src/gwkokab/_src/scripts/chain_plot.py
  src/gwkokab/_src/scripts/corner_plot.py
  src/gwkokab/_src/scripts/joint_plot.py
  src/gwkokab/_src/scripts/scatter2d.py
  src/gwkokab/_src/scripts/scatter3d.py
  src/gwkokab/_src/vts/neuralvt.py
Due: none

chore: friendship ended with polars now pandas is my friend (#235)
  pyproject.toml
  src/gwkokab/_src/scripts/batch_scatter2d.py
  src/gwkokab/_src/scripts/batch_scatter3d.py
  src/gwkokab/_src/scripts/chain_plot.py
  src/gwkokab/_src/scripts/corner_plot.py
  src/gwkokab/_src/scripts/joint_plot.py
  src/gwkokab/_src/scripts/scatter2d.py
  src/gwkokab/_src/scripts/scatter3d.py
  src/gwkokab/_src/vts/neuralvt.py
Due: none

chore: support python3.9
  .github/workflows/ci.yml
  pyproject.toml
Due: no-http

Revert "chore: support python3.9"
  .github/workflows/ci.yml
  pyproject.toml
Due: no-http

refactor: emoji free issue/pr labels and accordindly updated scripts
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  scripts/update_top_ranking_issues.py
Due: no-http

refactor: emoji free issue/pr labels and accordingly updated scripts (#236)
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  scripts/update_top_ranking_issues.py
Due: no-http

chore: flowMC arguments shifted to json file
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/sage_parser.py
Due: none

chore: multiple rates prior
  src/kokab/n_pls_m_gs/sage.py
Due: none

Squashed commit of the following:
  .github/ISSUE_TEMPLATE/0_feature_request.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_model_request.yml
  pyproject.toml
  scripts/update_top_ranking_issues.py
  src/gwkokab/_src/scripts/batch_scatter2d.py
  src/gwkokab/_src/scripts/batch_scatter3d.py
  src/gwkokab/_src/scripts/chain_plot.py
  src/gwkokab/_src/scripts/corner_plot.py
  src/gwkokab/_src/scripts/joint_plot.py
  src/gwkokab/_src/scripts/scatter2d.py
  src/gwkokab/_src/scripts/scatter3d.py
  src/gwkokab/_src/vts/neuralvt.py
Due: no-http

chore: no polars only pandas
  src/kokab/n_pls_m_gs/sage.py
Due: none

refactor: update script paths in pyproject.toml
  pyproject.toml
  src/gwkokab_scripts/batch_scatter2d.py
  src/gwkokab_scripts/batch_scatter3d.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
  src/gwkokab_scripts/joint_plot.py
  src/gwkokab_scripts/scatter2d.py
  src/gwkokab_scripts/scatter3d.py
Due: none

refactor: update script paths in pyproject.toml (#238)
  pyproject.toml
  src/gwkokab_scripts/batch_scatter2d.py
  src/gwkokab_scripts/batch_scatter3d.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
  src/gwkokab_scripts/joint_plot.py
  src/gwkokab_scripts/scatter2d.py
  src/gwkokab_scripts/scatter3d.py
Due: none

refactor: Update sage.py and common.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/regex.py
  src/kokab/utils/sage_parser.py
Due: none

Squashed commit of the following:
  pyproject.toml
  src/gwkokab_scripts/batch_scatter2d.py
  src/gwkokab_scripts/batch_scatter3d.py
  src/gwkokab_scripts/chain_plot.py
  src/gwkokab_scripts/corner_plot.py
  src/gwkokab_scripts/joint_plot.py
  src/gwkokab_scripts/scatter2d.py
  src/gwkokab_scripts/scatter3d.py
Due: none

fix: plotting scripts path fixed
  pyproject.toml
Due: none

refactor: Update sage.py and common.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/common.py
Due: none

refactor: kokab.utils.commons for better readibility
  src/kokab/utils/common.py
Due: none

chore: better error handling while loading posterior data
  src/kokab/utils/common.py
Due: none

CodeCov in GWKokab
  .github/workflows/ci.yml
Due: no-http

chore: codecov badge in README
  README.md
Due: no-bracket-links, no-http

chore: codecov configuration
  .codecov.yml
Due: no-http

Update .codecov.yml
  .codecov.yml
Due: no-http

CodeCov in GWKokab (#239)
  .codecov.yml
  .github/workflows/ci.yml
  README.md
Due: no-bracket-links, no-http

Squashed commit of the following:
  .codecov.yml
  .github/workflows/ci.yml
  README.md
Due: no-bracket-links, no-http

chore: npowerlaw and mgaussian with default spin only
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/models.py
Due: none

chore: npowerlawngaussianwithdefaultspin added in public api
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/models/__init__.py
Due: none

chore: npowerlaw and mgaussian with tilt only
  .codecov.yml
  docs/source/gwkokab.models.rst
  src/gwkokab/_src/models/__init__.py
  src/gwkokab/_src/models/models.py
  src/gwkokab/models/__init__.py
Due: no-http
