Repository gwkokab/gwkokab: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: gwkokab||scripts||tests||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args: [--ignore-words-list, precessing, --ignore-words-list, multline, --check-filenames]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude: LICENSE
        exclude_types: [python, bib, gitignore, jupyter]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

special scripts of n_pls_m_gs have been deprecated
  CHANGELOG.md
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/powerlawprimarymassratio/sage.py
  src/kokab/single_gaussians/genie.py
Due: no-bracket-links, no-http

gh-330: deprecation of special cases of `n_pls_m_gs` (#332)
  CHANGELOG.md
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/powerlawprimarymassratio/genie.py
  src/kokab/powerlawprimarymassratio/sage.py
  src/kokab/single_gaussians/genie.py
Due: no-bracket-links, no-http

tests for different combinations of NPowerLawMGaussian
  tests/test_distributions.py
Due: none

tests for different combinations of NPowerLawMGaussian (#334)
  tests/test_distributions.py
Due: none

chore: implementation of NPowerLawMGaussian for genie
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
Due: none

chore: tests for NPowerLawMGaussian for genie
  src/gwkokab/models/_models.py
  tests/test_distributions.py
Due: none

update genie_n_pls_m_gs with NPowerLawMGaussian_TruncatedNormalEccentricity
  docs/source/gwkokab.models.rst
  src/kokab/n_pls_m_gs/genie.py
Due: none

chore: selecting on the basis of vt params
  src/kokab/n_pls_m_gs/common.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

chore: selecting on the basis of vt params in sage
  src/kokab/n_pls_m_gs/sage.py
Due: none

gh-328: variable parameters for VT (#331)
  src/kokab/n_pls_m_gs/common.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/genie_parser.py
  src/kokab/utils/sage_parser.py
Due: none

Refactor genie.py to include additional parameters for eccentricity
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/utils/genie_parser.py
Due: none

Refactor genie_parser.py to update parameter names for consistency
  src/kokab/utils/genie_parser.py
Due: none

fix: vt_params lost in merge conflict resolution
  src/kokab/utils/genie_parser.py
Due: none

Refactor NPowerLawMGaussian so that we no don't need NPowerLawMGaussian_TruncatedNormalEccentricity
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  src/kokab/n_pls_m_gs/genie.py
  tests/test_distributions.py
Due: none

docs: remove NPowerLawMGaussian_TruncatedNormalEccentricity
  docs/source/gwkokab.models.rst
Due: none

docs: update docstring of NPowerLawMGaussian for more clearity
  src/gwkokab/models/_models.py
Due: none

feat: Generalized Gaussians for `NPowerLawMGaussian` (#335)
  src/gwkokab/models/_models.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/utils/genie_parser.py
  tests/test_distributions.py
Due: none

Remove unused requirements.txt and update changelog link
  .github/workflows/update_all_top_ranking_issues.yml
  CHANGELOG.md
  scripts/requirements.txt
  scripts/update_top_ranking_issues.py
Due: no-bracket-links, no-http

Refactor NPowerMGaussian for scalability and flexibility for different models
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  src/gwkokab/models/npowerlawmgaussian/__init__.py
  src/gwkokab/models/npowerlawmgaussian/_model.py
  src/gwkokab/models/npowerlawmgaussian/_utils.py
  src/gwkokab/models/utils.py
  src/gwkokab/utils/tools.py
  tests/test_distributions.py
Due: none

Refactor parameter names for genie and sage scripts
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

Refactor genie.py to add support for using truncated normal distributions for spin parameters
  src/kokab/n_pls_m_gs/genie.py
Due: none

refactor: `NPowerMGaussian` for scalability and flexibility for different models (#337)
  src/gwkokab/models/__init__.py
  src/gwkokab/models/_models.py
  src/gwkokab/models/npowerlawmgaussian/__init__.py
  src/gwkokab/models/npowerlawmgaussian/_model.py
  src/gwkokab/models/npowerlawmgaussian/_utils.py
  src/gwkokab/models/utils.py
  src/gwkokab/utils/tools.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
  tests/test_distributions.py
Due: none

feat: truncated normal distributions for spin parameters in `n-pls-m-gs` (#338)
  src/kokab/n_pls_m_gs/genie.py
Due: none

Refactor error generation for spin parameters in `genie.py` and add error handling for out-of-range values
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

Refactor error generation in n_pls_m_gs
  src/kokab/n_pls_m_gs/genie.py
Due: none

remove requirment for location for error parameters
  src/kokab/n_pls_m_gs/genie.py
Due: none

refactor: error generation in `n_pls_m_gs` (#339)
  src/kokab/n_pls_m_gs/genie.py
Due: none

Refactor error generation in `bake.py` and add support for None values in constants
  src/gwkokab/inference/bake.py
  src/kokab/utils/regex.py
Due: none

refactor: error generation in `bake.py` and add support for None values in constants (#340)
  src/gwkokab/inference/bake.py
  src/kokab/utils/regex.py
Due: none

refactor: Update CI workflow to check only for 3.10 and 3.12
  .github/workflows/ci.yml
Due: no-http

chore: new pre commits hooks for formatting, checking and validation
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .ruff.toml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/source/_templates/layout.html
  docs/source/index.rst
  pyproject.toml
  src/gwkokab/debug/_debug.py
  src/gwkokab/models/wrappers.py
  src/gwkokab/parameters/parameters.py
  src/kokab/utils/common.py
Due: no-bracket-links, no-http

chore: only run one action per pr and stops the older run
  .github/workflows/ci.yml
Due: no-http

Refactor CI workflow to trigger only on manual dispatch and file changes
  .github/workflows/ci.yml
Due: no-http

chore: run workflows on pushes
  .github/workflows/ci.yml
Due: no-http

Refactor code to remove unused imports and variables
  src/gwkokab/inference/poissonlikelihood.py
  src/gwkokab/models/wrappers.py
  src/gwkokab/parameters/__init__.py
  src/gwkokab/parameters/parameters.py
  src/kokab/__init__.py
  src/kokab/ecc_matters/__init__.py
  src/kokab/n_pls_m_gs/__init__.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/powerlawpeak/__init__.py
  src/kokab/powerlawprimarymassratio/__init__.py
  src/kokab/single_gaussians/__init__.py
  src/kokab/utils/common.py
  src/kokab/utils/regex.py
Due: none

Refactor pre-commit configuration and add mypy hook
  .pre-commit-config.yaml
  .ruff.toml
Due: none

feat: integration of injection based VT
  src/kokab/n_pls_m_gs/sage.py
Due: none

chore: undeprecating eccentricity matters sage and genie
  src/kokab/ecc_matters/common.py
  src/kokab/ecc_matters/genie.py
  src/kokab/ecc_matters/sage.py
  src/kokab/utils/common.py
  src/kokab/utils/genie_parser.py
  src/kokab/utils/sage_parser.py
Due: none

feat: injection based VT for sage and genie of n_pls_m_gs
  src/kokab/n_pls_m_gs/common.py
  src/kokab/n_pls_m_gs/genie.py
  src/kokab/n_pls_m_gs/sage.py
Due: none

feat: enhance EccentricityMattersModel to include log_rate and integrate ScaledMixture
  src/kokab/ecc_matters/sage.py
Due: none
